<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Simple Storage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div class="popup_container"> <div class="panel">{{ message }}</div> </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block body %}
{% endblock %}
</body>
</html>