{% extends 'base.html' %}

{% block body %}
<div class="input_panel" id="login_panel">
    <span id="input_panel_title">Login</span>
    <form method="POST">
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <button type="submit" value="Submit">Login</button>
        <a style="font-size: 10px; text-decoration: none;" href="{{ url_for('register') }}">or register instead</a>
    </form>
</div>
{% endblock %}